<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="allLog" xsi:type="File" fileName="Logs\api_all.log"></target>
		<target name="errorLog" xsi:type="File" fileName="Logs\api_error.log"></target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="allLog" />
		<logger name="*" minlevel="Warning" writeTo="errorLog" />
	</rules>
</nlog>